body {
  background-color: #b7cdfa;
  margin-left: 50px;
  margin-right: 50px;
}
h1 {
  color: black;
  font-family: "Open Sans", Lato, Arial;
  text-align: center;
}
h2 {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
  text-align: center;
}
h4 {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
  text-align: center;
}
p {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
}
img
{
Padding: 10px,10px,10px,10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}