body {
  font-family: 'Inter';
}
.resume-heading {
  color: #000000;
  font-family: 'Inter';
  font-size: 4vw;
  text-align: center;
}
.resume {
  color: #000000;
  font-family: 'Inter';
  font-size: 3vw;
  text-align: center;
}