body {
  background-color: #fefbd8;
  margin-left: 50px;
}
h1 {
  color: black;
  font-family: "Open Sans", Lato, Arial;
}
h2 {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
}
h4 {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
}
p {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
}