body {
  
  background-color: #b7cdfa;
  margin-left: 50px;
  margin-right: 50px;
  
  /*background-image: linear-gradient(#b7cdfa,rgb(234, 197, 150));*/
  /*background-image: linear-gradient(rgb(255, 82, 82),white);*/
  /*background-image: url("img/CelticSamuraiinkiltwithswords.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#b7cdfa,rgb(234, 205, 168)); */
 /* background-color: #bb2649; */
}
h1 {
  color: black;
  font-family: "Open Sans", Lato, Arial;
  text-align: center;
}
h2 {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
  text-align: center;
}
h4 {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
  text-align: center;
}
p {
  color: #618685;
  font-family: "Open Sans", Lato, Arial;
}
img {
  Padding: 10px,10px,10px,10px;
}
table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: top;
  text-align: center;
}
.row {
  margin: auto;
  padding: 10px;
}
.left {
  float:left;
  width:100%;
}
.right {
  float:right;
  width:100%;
}