body {
  font-family: 'Inter';
}
h1 {
  color: #000000;
  font-family: 'Inter';
  text-align: center;
}
h3 {
  color: #000000;
  font-family: 'Inter';
  font-size: 5vmax;
  text-align: center;
}
p {
  color: #000000;
  font-family: 'Inter';
  font-size: 2vmax;
  text-align: center;
  margin: 1vmax;
}